<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>蓝联退税</title>
		<link rel="stylesheet" href="css/tax.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/login.js" ></script>
		<script type="text/javascript" src="js/xiaoli.js" ></script>
	</head>
	<body>
		<div id="wrap5">
			<div class="content" id="invoiceDetailBox">
				<div class="invoiceInformationOneTop">
					<img src="img/16.jpg"/>
				</div>
				<div class="invoiceInformationBox">
					<div class="invoiceInformationOneBottomTop"></div>
					<div class="invoiceInformationOneBottom">
						<ul>
							<li>退税国家：英国</li>
							<li>发票金额：$1600</li>
							<li>可退税金：$160</li>
						</ul>
						<ul>
							<li>退税项目：酒店住宿</li>
							<li>发票税金：$185</li>
							<li>2018-05-06</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="taskid" th:text="${tasksid}" style="display: none"></div>
		<div id="invoiceid" th:text="${invoiceid}" style="display: none"></div>
		<script>
			$(document).ready(function(){
				var taskid = $("#taskid").html();//getPar("taskid");
				var invoiceid= $("#invoiceid").html();//getPar("invoiceid");
				
				var invoiceInformation=invoiceQuery(taskid,invoiceid);
				console.log(invoiceInformation);
				if(invoiceInformation.code==200){
					var invoiceDetailBox=document.getElementById("invoiceDetailBox");
					var secondData=invoiceInformation.data;
					var country;
					var currencysymbol;
					var billType;
					if(secondData.country==0){
						country="";
						currencysymbol="";
					}else if(secondData.country==36){
						country="澳大利亚";
						currencysymbol="S/.";
					}else if(secondData.country==40){
						country="奥地利";
						currencysymbol="S";
					}else if(secondData.country==56){
						country="比利时";
						currencysymbol="Bi.";
					}else if(secondData.country==124){
						country="加拿大";
						currencysymbol="$";
					}else if(secondData.country==158){
						country="中国台湾";
						currencysymbol="NT$";
					}else if(secondData.country==208){
						country="丹麦";
						currencysymbol="kr";
					}else if(secondData.country==246){
						country="芬兰";
						currencysymbol="MK.";
					}else if(secondData.country==250){
						country="法国";
						currencysymbol="F";
					}else if(secondData.country==276){
						country="德国";
						currencysymbol="DM";
					}else if(secondData.country==352){
						country="冰岛";
						currencysymbol="I.";
					}else if(secondData.country==372){
						country="爱尔兰";
						currencysymbol="￡";
					}else if(secondData.country==380){
						country="意大利";
						currencysymbol="₤";
					}else if(secondData.country==392){
						country="日本";
						currencysymbol="¥";
					}else if(secondData.country==410){
						country="韩国";
						currencysymbol="₩";
					}else if(secondData.country==470){
						country="马耳他";
						currencysymbol="₤";
					}else if(secondData.country==528){
						country="荷兰";
						currencysymbol="€";
					}else if(secondData.country==554){
						country="新西兰";
						currencysymbol="$";
					}else if(secondData.country==578){
						country="挪威";
						currencysymbol="kr";
					}else if(secondData.country==724){
						country="西班牙";
						currencysymbol="€";
					}else if(secondData.country==752){
						country="瑞典";
						currencysymbol="kr";
					}else if(secondData.country==756){
						country="瑞士";
						currencysymbol="Fr";
					}else if(secondData.country==826){
						country="英国";
						currencysymbol="£";
					}
					
					if(secondData.consumptionType==0){
						billType="";
					}else if(secondData.consumptionType==1001){
						billType="租车";
					}else if(secondData.consumptionType==1002){
						billType="展会";
					}else if(secondData.consumptionType==1005){
						billType="酒店";
					}else if(secondData.consumptionType==1006){
						billType="咨询";
					}else if(secondData.consumptionType==1007){
						billType="通信";
					}else if(secondData.consumptionType==1008){
						billType="广告";
					}else if(secondData.consumptionType==1009){
						billType="加油";
					}else if(secondData.consumptionType==1010){
						billType="律师审计";
					}else if(secondData.consumptionType==1011){
						billType="公共交通";
					}else if(secondData.consumptionType==1012){
						billType="餐饮";
					}else if(secondData.consumptionType==1013){
						billType="出租车";
					}else if(secondData.consumptionType==1014){
						billType="电话";
					}else if(secondData.consumptionType==1015){
						billType="培训";
					}
					invoiceDetailBox.innerHTML=
					'<div class="invoiceInformationOneTop">\
						<img src="'+secondData.ImageBinaryCodes+'"/>\
					</div>\
					<div class="invoiceInformationOneBottom">\
						<ul>\
							<li>退税国家：'+country+'</li>\
							<li>发票金额：'+currencysymbol+''+secondData.paidPrice+'</li>\
							<li>可退税金：'+currencysymbol+''+secondData.invoiceRetireTaxPrice+'</li>\
						</ul>\
						<ul>\
							<li>退税项目：'+billType+'</li>\
							<li>发票税金：'+currencysymbol+''+secondData.invoiceTaxPrice+'</li>\
							<li>'+secondData.invoiceDate+'</li>\
						</ul>\
					</div>'
					
					
				}
			})
		</script>
	</body>
</html>
