<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<script type="text/javascript" src="js/jquery.min.js"></script>
<title>hello</title>
</head>
<body>
	<!--<div id="openId" style="display: none;" th:text="${session.openId}"></div>
	<div id="sessionKey" style="display: none;" th:text="${session.sessionKey}"></div>-->
	<script type="text/javascript" src="js/login.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			openId();
		});
	</script>
</body>
</html>